.section-header {
	position: relative;
	width: 100%;
	height: 104px;
	display: flex;
	align-items: flex-end;
	background: url("images/common/stripe-black.png") #555;
	background-size: 177px 151px;
	box-shadow: 0 2px 4px rgba($black, .2);
	animation: background-move 2s linear 0s infinite normal none running;

	h2 {
		@include content-width;
		margin: 0 auto 16px;
		font-size: 2.8em;
		color: white;
		text-shadow: 0 2px 8px rgba($black,.3);
		transform: translateX(-40px);
	}

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 24px;
		position: absolute;
		bottom: 0;
		background-color: $eclair-orange;
	}

	&.cyan:before {
		background-color: $eclair-cyan;
	}
	&.yellow:before {
		background-color: $eclair-yellow;
	}
}

@keyframes background-move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 36px 0;
	}
}