.about {
	background: url("images/common/stripe.png");
	background-size: 177px 151px;
	box-shadow: 0 2px 4px rgba($black, .2);
	
	> .container {
		margin: 0 auto ;
		padding: 48px 0 72px;
		position: relative;
	}

	p {
		margin: 24px 0;
		font-size: 1.4em;
		line-height: 1.6em;
		text-shadow: 0 1px 2px rgba(0,0,0,.1);
	}
	.emphasized {
		font-size: 120%;
		font-weight: bold;
		text-shadow: 0 3px 6px rgba(0,0,0,.2);
	}

	h3 {
		font-size: 2em;
		margin-top: 96px;
		margin-left: -20px;
		text-shadow: 0 3px 6px rgba(0,0,0,.2);
	}
}

.about-eclair {
	height: 640px;
	position: absolute;
	right: 0;
	top: -80px;
}

.about-movie {
	float:right;
	margin-right: -56px;
	height: 360px;
	width: 480px;
	transform: rotate(6deg);
	box-shadow: 0 3px 6px rgba($black,.3);
}