.banner {
	position: relative;
	width: 100%;
	margin-bottom: -52px;
	background: url("images/banner/background.svg");
	background-size: 102%;
	background-position: bottom center;
	background-repeat: no-repeat;

	a {
		display: block;
		width: calc(100% - 32px);
		max-width: 560px;
		margin: 0 auto;
		padding: 8px 0 0;
	}

	img {
		width: 100%;
		height: auto;
		filter: url(#drop-shadow);
  		-webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
	}
}
@include mq(tl){
	.banner img {
		margin: 8px auto;
	}
}
@include mq(sp){
	.banner {
		margin-bottom: -48px;
		a {
			padding: 8px 0 16px;
		}
	}
}