/* header */

//枠

.header {
	width: 100%;
	height: 640px;
}

.header-container {
	position: relative;
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}

@include mq(pc-narrow) {
	.header-container {
		width: 100%;
		max-width: 1024px;
	}
}
@include mq(tl) {
	.header {
		height: auto;
	}
	.header-container {
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
}
@include mq(sp){
	.header {
		height: auto;
	}
	.header-container {
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
}

//中身

.header-qpic {
	position: absolute;
	top: 36px;
	left: 48px;
	img {
		height: 48px;
	}
}

.header-logo {
	position: absolute;
	top: 103px;
	left: 110px;
	img {
		height: 320px;
	}
}

.header-detail {
	position: absolute;
	bottom: 36px;
	left: 128px;
	text-shadow: 0 0 12px rgba($black, .6);
	color: white;
	ul {
		margin-bottom: 24px;
	}
	li {
		font-size: 1.2em;
		line-height: 1.4em;
	}
}

.header-message {
	font-size: 2em;
	font-weight: bold;
}

.header-info {
	position: absolute;
	bottom: 36px;
	right: 128px;
	width: 240px;
}

.header-banner {
	display: block;
	margin-bottom: 16px;

	> img {
		width: 240px;
		height: 80px;
		box-shadow: 0 2px 4px rgba(0,0,0,.2);
		border-radius: 2px;
		transition: .1s;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&:hover > img {
		opacity: .8;
		transform: translateY(-1px);
		box-shadow: 0 3px 6px rgba($black, .2);
	}
}

.header-twitter-header {

	color: white;
	display: flex;
	align-items: center;
	font-size: 0.8em;

	.twitter-name {
		flex: 1;
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.twitter-follow {
		color: white;
		display: inline-block;
		padding: 6px 12px;
		text-decoration: none;
		border: 1px solid $white;
		border-radius: 16px;
		transition: 0.1s;
		&:hover {
			background-color: $white;
			color: $eclair-orange;
		}
	}
}

.header-share {
	position: absolute;
	bottom: 36px;
	right: 240 + 16 + 48px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 48px;
	justify-content: space-between;
}

@include mq(pc-narrow){
	.header-logo {
		left: 30px;
	}
	.header-detail {
		left: 48px;
	}
	.header-info {
		right: 48px;
	}
}

@include mq(tl){
	.header-qpic {
		top: 24px;
		left: 32px;
		img {
			height: 36px;
		}
	}
	.header-logo {
		position: static;
		img {
			height: auto;
			width: calc(100% - 48px);
			max-width: 600px;
		}
	}
	.header-detail {
		position: static;
		margin: 32px auto;
		width: calc(100% - 32px);
		span {
			display: inline-block;
			margin: 4px 0;
		}
	}
	.header-info {
		position: static;
		width: calc(100% - 32px);
		display: flex;
		justify-content: space-around;
		margin: 48px auto 16px;
	}
	.header-banner img {
		margin: 0;
	}
}

@include mq(sp){
	.header-qpic {
		top: 24px;
		left: 32px;
		img {
			height: 36px;
		}
	}
	.header-logo {
		position: static;
		img {
			height: auto;
			width: calc(100% - 48px);
			max-width: 600px;
		}
	}
	.header-detail {
		position: static;
		margin: 32px auto;
		width: calc(100% - 32px);
		span {
			display: inline-block;
			margin: 4px 0;
		}
	}
	.header-message {
		font-size: 1.6em;
	}
	.header-info {
		position: static;
		width: calc(100% - 32px);
		margin: 48px auto 16px;
	}
}