<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>電撃少女エクレア 公式サイト</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- OGP -->
    <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
	<meta property="og:title" content="電撃少女エクレア　公式サイト" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://qpic.jp/pages/eclair" />
	<meta property="og:image" content="http://qpic.jp/pages/eclair/images/common/ogp.jpg" />
	<meta property="og:site_name" content="Qpic" />
	<meta property="og:description" content="Qpic開発の3Dアクションゲーム「電撃少女エクレア」の公式サイトです。" />
	<!-- TwitterCard -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image" content="http://qpic.jp/pages/eclair/images/common/ogp.jpg" />

    <meta name="theme-color" content="#F28446">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script id="decoration" type="text/x-template">
    	<img :data-src="'images/decoration/' + index + '.svg'" :style="'position: relative; top: '+dy+'px;left:'+dx+'px;'" class="decoration-item" :class="'random-'+rotationPattern">
    </script>
    <script id="decoration-wrapper" type="text/x-template">
    	<div class="decoration-wrapper" :class="{right:side===1, left:side===0}">
    		<decoration></decoration>
    		<decoration></decoration>
    		<decoration></decoration>
    		<decoration></decoration>
    	</div>
    </script>
    <script>
    	var Random = function(min,max) {
  			return Math.floor( Math.random() * (max + 1 - min) ) + min ;
		};
    	//Decoration
		Vue.component('decoration', {
		  data: function (){
		  	return {
    			dx: Random(-144,144),
    			dy: Random(-80,80),
    			rotationPattern: Random(0,3),
    			index: Random(0,2)
    		};
  		  },
		  template: '#decoration'
		});
		Vue.component('decoration-wrapper',{
			props: ['side'],
			template: '#decoration-wrapper'
		});
		//End Decoration
    </script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NCRJLFG');</script>
	<!-- End Google Tag Manager -->

  </head>
  <body>
	<header class="header">
		<canvas v-if="!isMobile" width="1280" height="640" class="header-canvas" id="headerCanvas"></canvas>
		<div class="header-container">
			<div class="header-hero">
				<img src="images/header/hero.png" height="640" alt="エクレア">
			</div>
			<a class="header-qpic" href="http://qpic.jp/"><img src="images/header/qpic.svg" alt="Qpic"></a>
			<h1 class="header-logo"><img src="images/header/logo.png" alt="電撃少女エクレア"></h1>
			<div class="header-detail">
				<ul>
					<li>ジャンル: 3Dアクション</li>
					<li>プラットフォーム: Windows, Mac</li>
					<li>プレイ人数: 1人</li>
				</ul>
				<div class="header-message">
				<span>「第一章」</span><span>公開中！</span>
				</div>
			</div>
			<div class="header-glitch">
				
			</div>
			<div class="header-share">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fqpic.jp%2Feclair&width=72&layout=button&action=like&size=small&show_faces=true&share=false&height=65&appId" width="72" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>
			<div class="header-info">
				<a v-if="isMobile" href="https://twitter.com/Eclair_HTL" class="header-banner"> 
					<img src="images/header/Twitter.svg">
				</a>
				<div v-if="!isMobile" class="header-banner">
					<div class="header-twitter-header">
						<img src="images/header/twitterIcon.svg" width=36 alt="">
						<a class="twitter-name" href="https://twitter.com/Eclair_HTL" target="_blank">@Eclair_HTL</a>
						<a class="twitter-follow" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=Eclair_HTL&tw_p=followbutton">フォロー</a>
					</div>
					<a class="twitter-timeline" data-lang="ja" data-width="240" data-height="200" data-chrome="noheader nofooter" href="https://twitter.com/Eclair_HTL?ref_src=twsrc%5Etfw">Tweets by Eclair_HTL</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</div>
	</header>
	<div id="wrapper" class="navigation-wrapper">
		<a class="hamburger-mobile" onclick="toggleNav()"><img src="images/navgation/hamburger.svg" alt="メニュー"></a>
	<nav id="nav" class="navigation" v-bind:class="{'shown-in-mobile': shownInMobile}">
		<div class="container-wide">
			<ul>
				<li v-if="isPhone" class="toolbar-mobile"><a v-on:click="shownInMobile = !shownInMobile">{{currentSectionName}}</a></li>
				<li class="nav-top" v-on:click="shownInMobile = false"><a href="#"><img src="images/navgation/silhouette.svg" alt="トップへ"></a></li>
				<li class="nav-about" v-bind:class="{active: currentSection == 0}" v-on:click="shownInMobile = false"><a href="#about"><span>電撃少女</span><span>エクレアとは</span></a></li>
				<li class="nav-character" :class="{active: currentSection == 1}" v-on:click="shownInMobile = false"><a href="#characters">キャラクター</a></li>
				<li class="nav-gallery" :class="{active: currentSection == 2}" v-on:click="shownInMobile = false"><a href="#gallery">ギャラリー</a></li>
				<li class="nav-roadmap" :class="{active: currentSection == 3}" v-on:click="shownInMobile = false"><a href="#roadmap"><span>ダウン</span><span>ロード</span></a></li>
			</ul>
		</div>
	</nav>
	<div class="banner">
		<a href="#minigames" rel="shadowbox;width=960;height=720">
			<img src="images/banner/minigame-banner.png" width=560 height=72 alt="ミニゲーム配信中！">
			</a>
	</div>
	<div id="movie" class="movie">
		<a href="https://youtu.be/autYRqHTAlI" :href="isPhone ? 'https://www.youtube.com/watch?v=autYRqHTAlI' : 'https://www.youtube.com/embed/autYRqHTAlI?autoplay=1&amp;rel=0'" :rel="isPhone ? '' : 'shadowbox;width=960;height=540'" onclick="pauseMovie()">
			<img src="images/movie/play.svg" width=64 height=64 alt="動画を再生" class="movie-play">
		</a>
		<div id="movie-player"></div>
	</div>
	<div id="about" class="about" v-lazy-container="{ selector: 'img' }">
		<div class="section-header" v-bind:class="{hidden: shownInMobile}" ><h2>電撃少女エクレアとは</h2></div>
		<div class="container">
			<decoration-wrapper :side="0"></decoration-wrapper>
			<p>
				<span><b>電撃少女エクレア</b>は、</span>
				<span class="emphasized">スピード感・爽快感のある動き</span><br>
				<span>を目指した</span>
				<span>3Dアクションゲーム。</span>
			</p>
			<p>
				<span>電気を操る少女</span>
				<span>「<b>エクレア</b>」は、</span>
				<span>彼女を救った</span>
				<span>『<b>ギア</b>』の研究者</span>
				<span>「<b>オレイエット</b>」</span>
				<span>から依頼を受ける。</span>
			</p>
			<p>
				<span>なんでも、大いなる力を持つ</span>
				<span>『<b>時空のギア</b>』の一部を</span>
				<span>武装ギア集団『<b>アーミーギア</b>』</span>
				<span>から</span>
				<span>回収して欲しいとのこと。</span>
			</p>
			<p>
				<span>電撃を操るギア</span>
				<span>「<b>ELE-GEAR</b>」を駆使しながら、</span>
				<span>彼女はアーミーギアへ立ち向かう。</span>
			</p>

			<img v-if="!isPhone" data-src="images/about/eclair.png" alt="エクレア" height=640 class="about-eclair">

			<h3><span>エクレア最大の</span>
				<span>アクション「電撃移動」</span></h3>
			<div class="about-movie" v-if="!isPhone">
				<div id="about-player"></div>
			</div>
			<img v-if="isPhone" data-src="images/about/eto.gif" alt="エクレア" height=320 class="about-gif">
			<p>
				<span>ELE-GEARを装備した</span>
				<span>エクレアができる技の中で</span>
				<span>最も重要なのが</span>
				「<span class="emphasized">電撃移動</span>」です。
			</p>
			<p>
				<span>これは、エクレア自らが</span>
				<span><b>電気体</b>となり、</span>
				<span>あらゆる場所に高速で</span>
				<span>移動することができる技です。</span>
			</p>
			<p>
				<span>電撃移動を行うにはあらかじめ</span>
				<span>「<b>ボルト</b>」と呼ばれる装置を</span>
				<span>移動したい場所に投げます。</span>
				<span>電撃移動を始めると、</span><br>
				<span>エクレアはボルトに向かって</span>
				<span>引き寄せられます。</span>
			</p>
			<decoration-wrapper :side="1"></decoration-wrapper>
		</div>
	</div>
	<div id="characters" class="characters" v-lazy-container="{ selector: 'img' }">
		<div class="section-header cyan" v-bind:class="{hidden: shownInMobile}"><h2>キャラクター</h2></div>
		<div class="container">
			<decoration-wrapper :side="0"></decoration-wrapper>
			<div class="character">
				<h3>エクレア</h3>
				<img data-src="images/characters/eclair.png" height=480 alt="エクレア" class="characters-image eclair">
				<p>
					「ELE-GEAR」を操る少女。<br>
					<span>オレイエットの依頼を受け</span>
					<span>アーミーギアを倒しに行く。</span>
				</p>
				<p>
					焼き芋が好き。
				</p>
			</div>
			<div class="character">
				<h3><span>ビクター・</span><span>オレイエット</span></h3>
				<img data-src="images/characters/oreillette.png" height=480 alt="オレイエット" class="characters-image">
				<p>
					<span>「ギア」と呼ばれる</span>
					<span>不思議な装置を研究している男。</span><br>
					<span>襲撃を受け気を失った</span>
					<span>エクレアを助け、</span><br>
					<span>彼女に</span>
					<span>「時空のギア」の回収を</span>
					<span>依頼する。</span>
				</p>
				<p>
					<span>エクレアの戦闘を</span>
					<span>無線でサポートする。</span>
				</p>
			</div>
			<div class="and-so-on">
				<p>and so on...</p>
			</div>
			<decoration-wrapper :side="1"></decoration-wrapper>
		</div>
	</div>
	<div id="gallery" class="gallery" v-lazy-container="{ selector: 'img' }">
		<h2>ギャラリー</h2>
		<div class="gallery-container">
			<a href="images/gallery/1.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/1.thumb.jpg" alt="1章コンセプトアート"></a>
			<a href="images/gallery/2.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/2.thumb.jpg" alt="ボルト"></a>
			<a href="images/gallery/3.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/3.thumb.jpg" alt="避雷針"></a>
			<a href="images/gallery/4.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/4.thumb.jpg" alt="電撃移動中のエクレア"></a>
			<a href="images/gallery/5.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/5.thumb.jpg" alt="クラゲ足場"></a>
			<a href="images/gallery/6.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/6.thumb.jpg" alt="ボルトを投げるエクレア"></a>
			<a href="images/gallery/7.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/7.thumb.jpg" alt="溶鉱炉"></a>
			<a href="images/gallery/8.jpg" rel="shadowbox[gallery]"><img data-src="images/gallery/8.thumb.jpg" alt="水と避雷針"></a>
		</div>
	</div>
	<div id="roadmap" class="roadmap">
		<div class="roadmap-inner frame">
			<h2>ロードマップ</h2>
			<ul>
				<li><span>2018年夏</span>
					<span>第1章公開</span></li>
				<li><span>2019年中に</span>
					<span>第4章まで公開</span></li>
			</ul>
		</div>
	</div>
<!-- 	<div id="member" class="member">
		<h2>制作メンバー</h2>
		<div class="member-inner">
			<dl>
				<dt>なおてぃ</dt>
				<dd>ディレクター・プログラム</dd>
				<dt>つつみん</dt>
				<dd>3Dデザイナー</dd>
				<dt>仮名</dt>
				<dd>3D・レベルデザイナー</dd>
				<dt>□</dt>
				<dd>3Dデザイナー・コンセプトアート</dd>
				<dt>そうたろう</dt>
				<dd>3Dデザイナー</dd>
				<dt>みっつー</dt>
				<dd>プロジェクトマネージャー・広報</dd>
				<dt>わらび</dt>
				<dd>プログラム・UI</dd>
				<dt>wararyo</dt>
				<dd>サウンド</dd>
			</dl>
		</div>
	</div> -->
	<footer class="footer">
		<img src="images/header/logo.png" width="400" alt="">
		<div class="footer-social">
			<a href="https://twitter.com/Eclair_HTL?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="ja" data-show-count="false">Follow @Eclair_HTL</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang="ja" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fqpic.jp%2Feclair&width=72&layout=button&action=like&size=large&show_faces=true&share=false&height=65&appId" width="88" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
		<p>&copy;Team HTL in Qpic</p>
	</footer>
	</div><!-- navigation-wrapper -->

	<div id="minigames"><!-- Shown by Shadowbox -->
		<div class="minigames-container">
			<div class="minigames">
			<h3>ミニゲーム</h3>
			<p>
				本編は現在開発中ですが、開発途中で生まれたミニゲームを配信しています。
			</p>
			<div class="mobile">
				<h4>これらのミニゲームはWindows/Macのみ対応しています</h4>
				<p>
					再度PCからアクセスしていただくことをお勧めします。
				</p>
			</div>
			<div class="minigames-inner">
				<div class="minigame">
					<h4>電撃少女エクレア デンチとくらやみの廃坑</h4>
					<div class="minigame-inner">
					<img src="images/minigames/haikou.png" width="280" alt="電撃少女エクレア 業火の脱走路" class="minigame-logo">
					<p class="description">地下の廃坑を探索しながらデンチをあつめよう！電撃移動の動きの改良や軽量化などが行われています。</p>
					<img src="images/minigames/haikou-screenshot.jpg" alt="スクリーンショット" class="minigame-screenshot">
					</div>
					<a href="http://qpic.jp/new/works/games/257" class="minigame-download button">Qpicの詳細ページへ</a>
				</div>
				<div class="minigame">
					<h4>電撃少女エクレア 業火の脱走路 &lt;レイジング・インフェルノ&gt;</h4>
					<div class="minigame-inner">
					<img src="images/minigames/inferno.png" width="280" alt="電撃少女エクレア 業火の脱走路" class="minigame-logo">
					<p class="description">灼熱の溶鉱炉からできるだけ早く脱出しよう！エクレアの要となるアクション「電撃移動」の試作第一号です。</p>
					<img src="images/minigames/inferno-screenshot.jpg" alt="スクリーンショット" class="minigame-screenshot">
					</div>
					<a href="http://qpic.jp/new/works/games/254" class="minigame-download button">Qpicの詳細ページへ</a>
				</div>
			</div>
			</div>
		</div>
	</div>

    <!-- BrowserSync -->
    <!-- <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.13'><\/script>".replace("HOST", location.hostname));
//]]></script> -->

    <!-- ShadowBox -->
    <link rel="stylesheet" type="text/css" href="shadowbox/shadowbox.css">
    <script type="text/javascript" src="shadowbox/shadowbox.js"></script>
    <script type="text/javascript">
    	Shadowbox.init();
    </script>

    <!-- CreateJS -->
	<script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
	<!-- ParticleJS -->
	<script src="https://cdn.rawgit.com/ics-creative/ParticleJS/release/1.0.0/libs/particlejs.min.js"></script>

    <!-- Scripts -->
    <script src="js/script.js"></script>

    <!-- SweetScroll -->
    <script src="https://unpkg.com/sweet-scroll/sweet-scroll.min.js"></script>
    <script>
    	const sweetScroll = new SweetScroll({
  			trigger: "a[href^='#']",
  			offset: isPhone() ? -280 : -80,
  			duration: 500
		});
    </script>

    <!-- SVG Effect -->
    <svg height="0">
	<filter id="drop-shadow">
        <feGaussianBlur in="SourceAlpha" stdDeviation="4"></feGaussianBlur>
        <feColorMatrix result="matrixOut" in="offOut" type="matrix" values="1 0 0 0 0
                0 1 0 0 0
                0 0 1 0 0
                0 0 0 0.25 0"></feColorMatrix>
        <feOffset dx="0" dy="2" result="offsetblur"></feOffset>
        <feMerge>
            <feMergeNode></feMergeNode>
            <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
    </filter>
	</svg>
  </body>
</html>